# 1 task

In [4]:
with open("output1.txt", "w") as f:
    s = input()
    while s != '':
        f.write(s)
        f.write('\n')
        s = input()

kek
lol
arbidol

In [5]:
!cat output1.txt

kek
lol
arbidol

# 2 task

In [41]:
!touch input2.txt # создать файл
!echo "lol" > input2.txt # записать в начало строку
!echo "kek cheburek" >> input2.txt # записать в конец строку
!cat input2.txt # вывести содержимое

lol
kek cheburek

In [42]:
lines = 0

with open("input2.txt", 'r') as f:
    for line in f:
        words_count = len(line.split())
        print(f"have {words_count} words")
        lines += 1

print(f"have lines {lines}")

have 1 words
have 2 words
have lines 2

# 3 task

In [24]:
%%bash

echo """Ivanov 10000
Kekov 21000
Memov 34000""" > input3.txt

cat input3.txt

Ivanov 10000
Kekov 21000
Memov 34000

In [32]:
n_people = 0
sum_money = 0

with open("input3.txt", 'r') as f:
    for line in f:
        family, money = line.split()
        money = int(money)
        if money < 20_000:
            print(family)
        sum_money += money
        n_people += 1

print(f"have average zp ~{sum_money / n_people:.0f}")

Ivanov
have average zp ~21667

# 4 task

In [33]:
%%bash

echo """One — 1
Two — 2
Three — 3
Four — 4""" > input4.txt

cat input4.txt

One — 1
Two — 2
Three — 3
Four — 4

In [39]:
with open("input4.txt", "r") as f_in:
    with open("output4.txt", "w") as f_out:
        for s in f_in:
            s = s \
                .replace("One", "Один") \
                .replace("Two", "Два") \
                .replace("Three", "Три") \
                .replace("Four", "Четыре")
            
            f_out.write(s)

In [40]:
!cat output4.txt

Один — 1
Два — 2
Три — 3
Четыре — 4

# 5 task

In [46]:
!touch input5.txt 
!echo "1 2 3 4" > input5.txt 
!cat input5.txt

1 2 3 4

In [48]:
with open("input5.txt", "r") as f:
    print(sum(map(int, f.read().split())))

10